name: Build AUR packages

on:
  workflow_dispatch:
    inputs:
      package:
        description: "AUR package name"
        required: true
  # push:
  #   paths:
  #     - '.github/workflows/arch-build-pkg.yml'

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest
      options: --volume ${{ github.workspace }}:/github/workspace
    steps:
      - name: Install build tools
        run: |
          pacman -Sy --noconfirm base-devel git sudo cmake ninja qt6-base qt6-tools qt6-declarative qt6-svg pcre2


      - name: Create build user
        run: |
          useradd -m builduser
          echo "builduser ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers
          su - builduser -c "mkdir -p ~/build"

      - name: Clone AUR package
        run: |
          su - builduser -c "cd ~/build && git clone https://aur.archlinux.org/${{ github.event.inputs.package }}.git"

      - name: Build package
        run: |
          su - builduser -c "cd ~/build/${{ github.event.inputs.package }} && makepkg -sf --noconfirm"

      - name: Upload package to repo
        run: |
          mkdir -p /tmp/output
          cp /home/builduser/build/${{ github.event.inputs.package }}/*.pkg.tar.zst /tmp/output/

      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Move packages
        run: |
          mkdir -p x86_64
          ls /github/workspace/
          cp /tmp/output/*.pkg.tar.zst /git/workspace/
          repo-add /git/workspace/mynk-arch-repo.db.tar.gz /git/workspace/*.pkg.tar.zst
          rm -f /git/workspace/mynk-arch-repo.db /git/workspace/mynk-arch-repo.files
          mv /git/workspace/mynk-arch-repo.db.tar.gz /git/workspace/mynk-arch-repo.db
          mv /git/workspace/mynk-arch-repo.files.tar.gz /git/workspace/mynk-arch-repo.files

      - name: Commit and push
        run: |
          cd /github/workspace
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add x86_64
          git commit -m "Build ${{ github.event.inputs.package }} on $(date)" || echo "No changes to commit"
          git push

